body {
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px
}

.green_bkgd {
  background-color: #84cfc9;
  background: cover;
  height:100%;
}

/*MOBILE */

@media only screen and (max-width: 500px) {

.shape_bkgd {
	background: url('image/shapeBackground.png');
	background-size: cover;
}

.shape_bkgd {
	background: url('../image/shapeBackground.png');
	background-size: cover;
}

.shape_bkgd {
	background: url('./image/shapeBackground.png');
	background-size: cover;
}

#logo {
	display: block;
	position: relative;
	right: 0vw;

}

#header1 {
	font-size: 10vw;
	font-weight: bold;
	font-family: 'Quicksand';
	color: white;

}

#text1 {
	font-size: 3vh;
	font-family: 'Quicksand';
	color:white;
	margin-top: 30px;
}

#button1 {
    background-color: transparent; /* Green */
    border: 2px solid #84cfc9;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: 'Quicksand';
    font-weight: bold;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 100px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#button2 {
    background-color: transparent; /* Green */
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: 'Quicksand';
    font-weight: bold;
    border-radius: 50px;
    margin-top: 3vh;
    margin-bottom: 15vh;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.orange-bkgd {
	background-color: #ef532e;
	background: cover;
}

.yellow-bkgd {
	background-color: #f8cf1c;
	background: cover;
}

.blue-bkgd {
	background-color: #84cfc9;
	background: cover;
}

.grey-bkgd {
	background-color: #414042;
	background: cover;
}

#head2 {
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 6vw;
	color: white;
	margin-top: 3vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

#text2 {
	font-family: 'Quicksand';
  color: white;
	font-weight: lighter;
	font-size: 5vw;
	margin-top: 5vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

#seniors {
	display: block;
	width: 35vw;
	align-content: center;
	max-width: 100%;
	height: auto;
}

#hide1 {
	visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
}

#head3 {
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 6vw;
	color: #ef532e;
	margin-top: 3vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

#text3 {
	font-family: 'Quicksand';
	font-weight: lighter;
	font-size: 5vw;
	margin-top: 5vh;
	padding-left: 5vw;
	padding-right: 5vw;
	margin-bottom: 10vh;
}

#link1 {
	font-family: 'Quicksand';
	color: #414042;
	font-size: 5vw;
	font-weight: bold;

}

#fourSkills {
	display: block;
	width: 35vw;
	align-content: center;
	max-width: 100%;
	height: auto;
}

#hide2 {
	visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
}

ul {
	list-style-type: none;
}

li {
	font-family: "Quicksand";

	font-size: 5vw;
	color: white;
	margin-top: 1vw;
	position: relative;
	right: 30px;

}

#bottom_li {
	margin-bottom: 3vh;
}

#head4 {
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 7vw;
	color: white;
	margin-top: 5vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

#text4 {
	font-family: 'Quicksand';
	font-size: 4vw;
	margin-top: 1vh;
	padding-left: 5vw;
	padding-right: 5vw;
	color: white;
}

.list_images {
	display: inline;
	width: 10vw;
	max-width: 100%;
	height: auto;
}

#quote1 {
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 7vw;
	color: #1e3e5b;
	padding-left: 2vw;
	margin-top: 6vh;
}

#quote2 {
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 3vw;
	color: #1e3e5b;
	padding-left: 2vw;
}

#head5 {
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 7vw;
	color: white;
	padding-top: 5vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

#text5 {
	font-family: 'Quicksand';
	font-weight: lighter;
	font-size: 5vw;
	margin-top: 2vh;
	padding-left: 5vw;
	padding-right: 5vw;
	color: white;
}



#partner {
	font-family: 'Quicksand';
	font-weight: bold;
	color: #ef532e;
	padding-left: 5vw;
	padding-top: 3vh;
	font-size: 5vw;

}


#logopic1 {
	width: 60vw;
	padding-left: 10vw;
	max-width: 100%;
	height: auto;


}

#logopic2 {
	width: 60vw;
	padding-left: 10vw;
	max-width: 100%;
	height: auto;


}

#logopic3 {
	width: 60vw;
	padding-left: 10vw;
	max-width: 100%;
	height: auto;
	margin-top: 3vh;
	margin-bottom: 5vh;
}


#contact {
	font-family: "Quicksand";
	font-weight: bolder;
	color: white;
	font-size: 4vw;
	margin-top: 7vh;
	padding-left: 3vw;
}

#copyright {
	font-family: "Quicksand";
	color: white;
	font-size: 2.5vw;
	margin-bottom: 3vw;
	padding-left: 3vw;
}

#logo1 {
	display: block;
	width: 300px;
	height: auto;
	max-width: 100%;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

}




/* DESKTOP */

@media only screen and (min-width: 979px) {

.shape_bkgd {

	background-image: url('background/shapeBackground.png');
	background-size: cover;
	background-size: contain;
}

#logo {
	display: block;
	width: 300px;
	height: auto;
	max-width: 100%;
	margin-left: 30px;
	padding-top: 30px;

}

#header1 {
	font-size: 70px;
	font-weight: bold;
	font-family: 'Quicksand';
	color: white;
	margin-top: 15vh;
}

#text1 {
	font-size: 40px;
	font-family: 'Quicksand';
	color:white;
	margin-top: 30px;
}

#button1 {
    background-color: transparent; /* Green */
    border: 2px solid #84cfc9;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: 'Quicksand';
    font-weight: bold;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 150px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#button2 {
    background-color: transparent; /* Green */
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: 'Quicksand';
    font-weight: bold;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 150px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.orange-bkgd {
	background-color: #ef532e;
	background: cover;
}

.yellow-bkgd {
	background-color: #f8cf1c;
	background: cover;
}

.blue-bkgd {
	background-color: #84cfc9;
	background: cover;
}

.grey-bkgd {
	background-color: #414042;
	background: cover;
}

#head2 {
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 2.25vw;
	color: white;
	margin-top: 12vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

#text2 {
	font-family: 'Quicksand';
	font-weight: lighter;
  color:white;
	font-size: 1.5vw;
	margin-top: 5vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

#seniors {
	display: block;
	width: 35vw;
	align-content: center;
	max-width: 100%;
	height: auto;
}

#head3 {
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 2.25vw;
	color: #ef532e;
	margin-top: 10vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

#text3 {
	font-family: 'Quicksand';
	font-weight: lighter;
	font-size: 1.5vw;
	margin-top: 5vh;
	padding-left: 5vw;
	padding-right: 5vw;

}

#link1 {
	font-family: 'Quicksand';
	color: #414042;
	font-size: 30px;
	font-weight: bold;
}

#fourSkills {
	display: block;
	width: 45vw;
	max-width: 100%;
	height: auto;
}

ul {
	list-style-type: none;
}

li {
	font-family: "Quicksand";
	font-size: 1.5vw;
	color: white;
	margin-left: 1.5vw;
	margin-top: 1vw;

}

#bottom_li {
	margin-bottom: 15vh;
}

#head4 {
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 2.25vw;
	color: white;
	margin-top: 10vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

#text4 {
	font-family: 'Quicksand';
	font-size: 1.5vw;
	margin-top: 2vh;
	padding-left: 5vw;
	padding-right: 5vw;
	color: white;
}

.list_images {
	display: inline;
	width: 3vw;
	max-width: 100%;
	height: auto;
}

#quote1 {
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 2.5vw;
	color: #1e3e5b;
	padding-left: 2vw;
	margin-top: 15vh;
}

#quote2 {
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 1vw;
	color: #1e3e5b;
	padding-left: 2vw;
}

#head5 {
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 3vw;
	color: white;
	margin-top: 13vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

#text5 {
	font-family: 'Quicksand';
	font-weight: lighter;
	font-size: 1.5vw;
	margin-top: 2vh;
	padding-left: 5vw;
	padding-right: 5vw;
	color: white;
}


#partner {
	font-family: 'Quicksand';
	font-weight: bold;
	color: #ef532e;
	padding-left: 5vw;
}

#logo-row {
	margin-top: 10vh;
	margin-bottom: 10vh;
}

#logopic1 {
	width: 15vw;
	padding-top: 1.75vh;
	max-width: 100%;
	height: auto;
}

#logopic2 {
	width: 15vw;
	max-width: 100%;
	height: auto;
}

#logopic3 {
	width: 15vw;
	max-width: 100%;
	padding-top: 3.5vh;
	height: auto;
}

#contact {
	font-family: "Quicksand";
	font-weight: bolder;
	color: white;
	font-size: 1.25vw;
	margin-top: 3vw;
	padding-left: 3vw;
}

#copyright {
	font-family: "Quicksand";
	color: white;
	font-size: 1.25vw;
	margin-bottom: 3vw;
	padding-left: 3vw;
}

#logo1 {
	display: block;
	width: 300px;
	height: auto;
	max-width: 100%;
	margin-left: 10px;
	padding-top: 30px;

}

#photogrid {
	display:block;
	max-width: 100%;
	height:auto;
}

.row1 {
  overflow: hidden;
}

.col1 {
  padding-top: 3vh;
  padding-bottom: 99999px;
  margin-bottom: -99999px;
}

.row2 {
  margin-bottom: 10vh;
  margin-top:5vh;
}

}







/*Tablet*/

@media only screen and (max-width: 976px) {
.shape_bkgd {

	background-image: url('background/shapeBackground.png');
	background-size: contain;
	background-size: cover;
}

#logo {
	display: block;
	width: 300px;
	height: auto;
	max-width: 100%;
	margin-left: 1vw;
	margin-top: 8vh;

}

#header1 {
	font-size: 9vw;
	font-weight: bold;
	font-family: 'Quicksand';
	color: white;
	margin-top: 25vh;
	text-align: left;
}

#text1 {
	font-size: 4vw;
	font-family: 'Quicksand';
	color:white;
	margin-top: 30px;
}

#button1 {
    background-color: transparent; /* Green */
    border: 2px solid #84cfc9;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: 'Quicksand';
    font-weight: bold;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 100px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#button2 {
    background-color: transparent; /* Green */
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: 'Quicksand';
    font-weight: bold;
    border-radius: 50px;
    margin-top: 3vh;
    margin-bottom: 15vh;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.orange-bkgd {
	background-color: #ef532e;
	background: cover;
}

.yellow-bkgd {
	background-color: #f8cf1c;
	background: cover;
}

.blue-bkgd {
	background-color: #84cfc9;
	background: cover;
}

.grey-bkgd {
	background-color: #414042;
	background: cover;
}

#head2 {
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 6vw;
	color: white;
	margin-top: 9vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

#text2 {
	font-family: 'Quicksand';
	font-weight: lighter;
  color: white;
	font-size: 5vw;
	margin-top: 5vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

#seniors {
	display: block;
	width: 35vw;
	align-content: center;
	max-width: 100%;
	height: auto;
}

#hide1 {
	visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
}

#head3 {
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 6vw;
	color: #ef532e;
	margin-top: 9vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

#text3 {
	font-family: 'Quicksand';
	font-weight: lighter;
	font-size: 5vw;
	margin-top: 5vh;
	padding-left: 5vw;
	padding-right: 5vw;
	margin-bottom: 10vw;
}

#link1 {
	font-family: 'Quicksand';
	color: #414042;
	font-size: 5vw;
	font-weight: bold;
}

#fourSkills {
	display: block;
	width: 35vw;
	align-content: center;
	max-width: 100%;
	height: auto;
}

#hide2 {
	visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
}

ul {
	list-style-type: none;
}

li {
	font-family: "Quicksand";
	font-size: 4vw;
	color: white;
	margin-top: 1vw;
	position: relative;
	right: 30px;

}

#bottom_li {
	margin-bottom: 3vh;
}

#head4 {
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 7vw;
	color: white;
	margin-top: 5vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

#text4 {
	font-family: 'Quicksand';
	font-size: 4vw;
	margin-top: 1vh;
	padding-left: 5vw;
	padding-right: 5vw;
	color: white;
}

.list_images {
	display: inline;
	width: 10vw;
	max-width: 100%;
	height: auto;
}

#quote1 {
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 5vw;
	color: #1e3e5b;
	padding-left: 2vw;
	margin-top: 6vh;
}

#quote2 {
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 3vw;
	color: #1e3e5b;
	padding-left: 2vw;
	margin-bottom: 15vh;
}

#head5 {
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 7vw;
	color: white;
	padding-top: 10vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

#text5 {
	font-family: 'Quicksand';
	font-weight: lighter;
	font-size: 5vw;
	margin-top: 2vh;
	padding-left: 5vw;
	padding-right: 5vw;
	color: white;
}



#partner {
	font-family: 'Quicksand';
	font-weight: bold;
	color: #ef532e;
	padding-left: 5vw;
	padding-top: 3vh;
	font-size: 5vw;

}


#logopic1 {
	width: 60vw;
	padding-left: 10vw;
	max-width: 100%;
	height: auto;
	margin-top: 10vh;


}

#logopic2 {
	width: 60vw;
	padding-left: 10vw;
	max-width: 100%;
	height: auto;
	margin-top: 10vh;


}

#logopic3 {
	width: 70vw;
	padding-left: 10vw;
	max-width: 100%;
	height: auto;
	margin-top: 15vh;
	margin-bottom: 15vh;
}


#contact {
	font-family: "Quicksand";
	font-weight: bolder;
	color: white;
	font-size: 4vw;
	margin-top: 7vh;
	padding-left: 3vw;
}

#copyright {
	font-family: "Quicksand";
	color: white;
	font-size: 2.5vw;
	margin-bottom: 3vw;
	padding-left: 3vw;
}

#logo1 {
	display: block;
	width: 300px;
	height: auto;
	max-width: 100%;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

}
